
<form id="coderForm">
	<input type="text" name="title" /> <input type="text" name="modelName" />
	<input name="modelNameCn" /> <input name="functionName" />
</form>
<div type="buttonGroup">
	<button type="submit" value="generate"
		onclick="javascript:Model.runCoder();"></button>
	<button type="reset"></button>
</div>
<div id="content">
	<table type="bootstrap" id="columnListTable" striped="true"
		pagination=false url="system/coder/getColunmList.do"
		data-unique-id="columnName">
		<thead>
			<tr>
				<th type="column" rowNumber="true" />
				<th type="column" field="columnName" sortable=true />
				<th type="column" field="columnComment"><input type="text" /></th>
				<th type="column" field="columnType" />
				<th type="column" field="columnSize" />
				<th type="column" field="primaryKeyFlag" dictCode="YN" />
				<th type="column" field="defaultValue"><input type="text" /></th>
				<th type="column" field="requiredFlag"><input type="switch"
					text="YN" /></th>
				<th type="column" field="searchFlag"><input type="switch"
					text="YN"  defaultValue=true /></th>
				<th type="column" field="listFlag"><input type="switch"
					text="YN"   defaultValue=true /></th>
				<th type="column" field="modifyFlag"><input type="switch"
					text="YN"   defaultValue=true /></th>
				<th type="column" field="addFlag"><input type="switch"
					text="YN"   defaultValue=true /></th>
				<th type="column" field="dictCode"><input type="text" /></th>
			</tr>
		</thead>
	</table>
</div>
