<form type="condition" action="javascript:Model.btnQueryClick();"
	name="queryForm" style="height: 44px;" name="queryForm"
	class="form-inline">
	<input name="tableName" label="表名" /> <input name="tableComment"
		label="表描述" /> <input type="date" name="coderDate"
		format="yyyy-MM-dd" label="生成日期" /> <select name="coderFlag"
		dictCode="YN" label="代码是否已生成"></select>

	<div type="buttonGroup">
		<button type="submit" class="btn-primary" accessKey="a" value="查询"
			icon="linear linear-magnifier" onclick=""></button>
		<button type="reset"
			icon="linear linear-cross"></button>
	</div>

</form>
<div id="content">
	<table id="mainListTable" class="table table-bordered"
		data-url="system/coder/getTableList.do" data-striped=false>
		<thead>
			<tr>
				<th data-field="tableName" data-sortable=true>表名</th>
				<th data-field="tableComment">表描述</th>
				<th data-field="coderFlag" data-format="YN"
					data-formatter=_DictTranslate>是否已生成代码</th>
				<th data-field="handle" data-formatter=Model.handleRender>操作</th>
			</tr>
		</thead>
	</table>
</div>