<form type="condition" action="javascript:Model.btnQueryClick();"
	name="queryForm" style="height: 44px;" name="queryForm"
	class="form-inline">
	<input name="tableName" /> <input name="tableComment" /> <input
		type="date" name="coderDate" format="yyyy-MM-dd" /> <select
		name="coderFlag" dictCode="YN"></select>

	<div type="buttonGroup">
		<button type="query"></button>
		<button type="reset"></button>
	</div>

</form>
<div id="content">
	<table id="mainListTable" class="table table-bordered"
		data-url="system/coder/getTableList.do" data-striped=false>
		<thead>
			<tr>
				<th data-field="tableName" data-sortable=true>表名</th>
				<th data-field="tableComment">表描述</th>
				<th data-field="coderFlag" data-format="YN"
					data-formatter=_DictTranslate>是否已生成代码</th>
				<th data-field="handle" data-formatter=Model.handleRender>操作</th>
			</tr>
		</thead>
	</table>
</div>