.x-btn {
	margin: 0px 0px 0px 1px;
}

.x-button-edit {
	padding: 0.5em;
	text-align: left;
}

.doublebox-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 3%;
	padding: 10px 10px;
	border: 1px solid #ddd;
	background: #fff;
}

.nav-fix39 {
	height: 39px;
}

.icon-paddng1 {
	padding: 1px;
}

.icon-paddng2 {
	padding: 2px;
}

.icon-paddng3 {
	padding: 3px;
}

.icon-paddng4 {
	padding: 4px;
}

.icon-paddng5 {
	padding: 5px;
}