.x-btn{
	margin:0px 0px 0px 1px;
}

.x-button-edit {
  padding: 0.5em;
  text-align:left;
}

.doublebox-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 3%;
	padding: 10px 10px;
	border: 1px solid #ddd;
	background: #fff;
}