<form id="userForm" method="post" action="javascript:Model.save();">
	<input type="text" name="userId"    readOnly="true"  placeholder="generateOnSave"/>
	<input type="text" name="userCode" required="true"  />
	<input type="text" name="userName" required="true"  />
	<input type="text" name="userNameEn"   />
	<input type="text" name="userNamePy"   />
	<input type="text" name="userNameFr"   />
	<input type="text" name="orgCode"   />
	<input type="text" name="postNo"   />
	<input type="text" name="userSex"   />
	<input type="text" name="nationality"   />
	<input type="text" name="ethnic"   />
	<input type="text" name="nativePlace"   />
	<input type="text" name="birthPlace"   />
	<input type="text" name="birthDate"   />
	<input type="text" name="idDecimal"   />
	<input type="text" name="photoId"   />
	<input type="text" name="joinDate"   />
	<input type="text" name="status"   />
	<input type="text" name="tellerId"   />
	<input type="text" name="residentialAddress"   />
	<input type="text" name="mobilePhone"   />
	<input type="text" name="remark"   />
	<input type="text" name="password"   />
	<input type="text" name="salt"   />
	<input type="text" name="onlineStatus"   />
	<input type="text" name="ipAddr"   />
	<input type="text" name="userTheme"   />
	<input type="text" name="pdCount"   />
	<input type="text" name="pdModtime"   />
	<input type="text" name="pdLocktime"   />
	<input type="text" name="lastSignonTime"   />
	<input type="text" name="lastSignoutTime"   />
	<input type="text" name="legalOrg"   />
	<input type="text" name="crtUserCode"   />
	<input type="text" name="crtOrgCode"   />
	<input type="text" name="crtDate"   />
	<input type="text" name="updUserCode"   />
	<input type="text" name="updOrgCode"   />
	<input type="text" name="updDate"   />
<div type="buttonGroup" style="text-align:center;" columns=12>
	<button type="submit"></button>
	<button type="return"></button>
</div>
</form>