<form id="menuForm" method="post" action="javascript:Model.save();">
	<input type="text" name="menuId"  readonly/>
	<input type="text" name="menuCode" required="true" />
	<input type="text" name="menuName" required="true" />
	<input type="text" name="menuType" required="true" />
	<input type="text" name="menuUrl"  />
	<input type="text" name="parentMenuId"  />
	<input type="text" name="isRelativePath"  />
	<input type="text" name="menuLevel"  />
	<input type="text" name="menuSeq"  />
	<input type="text" name="menuIcon"  />
	<input type="text" name="menuIcona"  />
	<input type="text" name="isVisible"  />
	<input type="text" name="openMode"  />
	<input type="text" name="menuTip"  />
	<input type="text" name="isStart"  />
	<input type="text" name="crtUserCode"  />
	<input type="text" name="crtOrgCode"  />
	<input type="text" name="crtDate"  />
	<input type="text" name="updUserCode"  />
	<input type="text" name="updOrgCode"  />
	<input type="text" name="updDate"  />
<div type="buttonGroup" style="text-align:center;" columns=12>
	<button type="submit"></button>
	<button type="reset"></button>
</div>
</form>