<form type="condition" action="javascript:Model.btnQueryClick();" id="queryMenuForm" customise=true>
	<input type="text" name="menuCode" preAddon="select.like,=,!=,like,not like" /> <input type="text" name="menuName"
		preAddon="select.like,=,!=,like,not like" /> <input type="text" name="parentMenuCode" preAddon="select.like,=,!=,like,not like" /> <input
		type="text" name="menuLevel" preAddon="select.like,=,!=,like,not like" /> <input type="text" name="menuIcon"
		preAddon="select.like,=,!=,like,not like" /> <input type="text" name="isStart" ignore=true preAddon="select.like,=,!=,like,not like" /> <input
		type="text" name="menuModule" ignore=true preAddon="select.like,=,!=,like,not like" />
	<div type="buttonGroup">
		<button type="query"></button>
		<button type="reset"></button>
	</div>
</form>
<div id="content">
	<div class="btn-toolbar" role="toolbar" aria-label="..." id="menutoolbar">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" icon="glyphicon glyphicon-plus" value="add" onclick="Model.add();"></button>
			<button type="button" class="btn btn-default" icon="glyphicon glyphicon-minus" value="delete" onclick="Model.bdelete();"></button>
		</div>
	</div>
	<table type="bootstrap" id="menuListTable" pagination=false url="system/menu/menuList.do"  data-tree-id="menuCode"  data-tree-field="menuName"  data-parent-field="parentMenuCode" data-toolbar="menutoolbar">
		<thead>
			<tr>
				<th type="column" field="menuName"  width ="250px"/>
				<th type="column" field="menuCode" />
				<th type="column" field="menuType" />
				<th type="column" field="menuUrl" />
				<th type="column" field="menuLevel" />
				<th type="column" field="isVisible" />
				<th type="column" field="isStart" />
				<th type="column" field="crtUserCode" />
				<th type="column" field="crtDate" />
				<th type="column" field="updUserCode" />
				<th type="column" field="updDate" />
				<th type="column" field="handle"><button text="edit" action=Model.edit class=" icon-laptop"></button></th>
			</tr>
		</thead>
	</table>
</div>