<link rel="stylesheet" href="css/matrix-style.css" />
<link rel="stylesheet" href="css/matrix-media.css" />
<!--Header-part-->
<div id="header">
	<div id="user-nav" class="navbar navbar-inverse">
		<ul class="nav">
			<li class="" id="system"><a title="" href="#"><i class="ilinear linear-earth"></i> <span class="text">系统管理</span></a></li>
			<li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i
					class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> new message</a></li>
					<li class="divider"></li>
					<li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> inbox</a></li>
					<li class="divider"></li>
					<li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> outbox</a></li>
					<li class="divider"></li>
					<li><a class="sTrash" title="" href="#"><i class="icon-trash"></i> trash</a></li>
				</ul></li>
			<li class=""><a title="" href="#"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
			<li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
		</ul>
	</div>
</div>
<!--close-Header-part-->

<!--sidebar-menu-->
<div id="sidebar">
	<ul>
		<li class="active"><a href="system/portal/index.w"><i class="icon icon-home"></i> <span>控制面板</span></a></li>
		<li><a href="javascript:$('#pageContent').showPage('outer//:http://www.baidu.com')"><i class="icon icon-signal"></i> <span>baidu</span></a></li>
		<li><a href="javascript:$('#pageContent').showPage('toolkit/coder/mainList.w')"><i class="linear linear-pencil"></i> <span>coder</span></a></li>
		<li><a href="tables.html"><i class="icon icon-th"></i> <span>Tables</span></a></li>
		<li><a href="grid.html"><i class="icon icon-fullscreen"></i> <span>Full width</span></a></li>
		<li class="submenu"><a href="#"><i class="icon icon-th-list"></i> <span>Forms</span> <span class="label label-important">3</span></a>
			<ul>
				<li><a href="form-common.html">Basic Form</a></li>
				<li><a href="form-validation.html">Form with Validation</a></li>
				<li><a href="form-wizard.html">Form with Wizard</a></li>
			</ul></li>
		<li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
		<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
		<li class="submenu"><a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
			<ul>
				<li><a href="index2.html">Dashboard2</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="calendar.html">Calendar</a></li>
				<li><a href="invoice.html">Invoice</a></li>
				<li><a href="chat.html">Chat option</a></li>
			</ul></li>
		<li class="submenu"><a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
			<ul>
				<li><a href="error403.html">Error 403</a></li>
				<li><a href="error404.html">Error 404</a></li>
				<li><a href="error405.html">Error 405</a></li>
				<li><a href="error500.html">Error 500</a></li>
			</ul></li>
	</ul>
</div>
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content-matrix">
	<!--breadcrumbs-->
	<div id="content-header">
		<div id="breadcrumb">
			<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
		</div>
	</div>
	<!--End-breadcrumbs-->

	<!--Action boxes-->
	<div id="pageContent" class="container-fluid">
		<div class="quick-actions_homepage">
			<ul class="quick-actions">
				<li class="bg_lb"><a href="index.html"> <i class="icon-dashboard"></i> <span class="label label-important">20</span> My Dashboard
				</a></li>
				<li class="bg_lg span3"><a href="charts.html"> <i class="icon-signal"></i> Charts
				</a></li>
				<li class="bg_ly"><a href="widgets.html"> <i class="icon-inbox"></i><span class="label label-success">101</span> Widgets
				</a></li>
				<li class="bg_lo"><a href="tables.html"> <i class="icon-th"></i> Tables
				</a></li>
				<li class="bg_ls"><a href="grid.html"> <i class="icon-fullscreen"></i> Full width
				</a></li>
				<li class="bg_lo span3"><a href="form-common.html"> <i class="icon-th-list"></i> Forms
				</a></li>
				<li class="bg_ls"><a href="buttons.html"> <i class="icon-tint"></i> Buttons
				</a></li>
				<li class="bg_lb"><a href="interface.html"> <i class="icon-pencil"></i>Elements
				</a></li>
				<li class="bg_lg"><a href="calendar.html"> <i class="icon-calendar"></i> Calendar
				</a></li>
				<li class="bg_lr"><a href="error404.html"> <i class="icon-info-sign"></i> Error
				</a></li>

			</ul>
		</div>
	</div>
</div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
	<div id="footer" class="span12">2017 &copy; sshs system</div>
</div>
<script src="js/matrix.js"></script>