<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<!-- Bootstrap -->
<link href="scripts/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="system/portal/css/normalize.css.dw" /> -->
<!-- <link rel="stylesheet" type="text/css" href="system/portal/css/demo.css.dw" /> -->
<!--必要的css-->
<link rel="stylesheet" type="text/css" href="css/component.css" />
</head>
<body style="margin: 0px;">
	<div class="demo-1">
		<div class="content">
			<div id="large-header" class="large-header">
				<canvas id="demo-canvas"></canvas>
				<div class="logo_box">
					<h3>欢迎您</h3>
					<form action="/login" id="loginForm" method="post">
						<div class="input_outer">
							<span class="u_user"></span> <input id="username" name="username" class="text" style="color: #FFFFFF !important; background: none !important;"
								type="text" placeholder="请输入用户名" autocomplete="off">
						</div>
						<div class="input_outer">
							<span class="us_uer"></span> <input id="password" name="password" class="text"
								style="color: #FFFFFF !important; background: none !important; position: absolute; z-index: 100;" value="" type="password" placeholder="请输入密码">
						</div>
						<div class="mb2">
							<a class="btn btn-primary act-but submit" href="javascript:login();" style="color: #FFFFFF" accessKey="s">登录</a>
						</div>
						<div id="message" style="color: red; text-align: center; font-weight: bold;font-size:12pt;"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<script src="js/TweenLite.min.js"></script>
	<script src="js/EasePack.min.js"></script>
	<!-- <script src="system/portal/js/rAF.js.dw"></script> -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="scripts/jquery-3.2.1/jquery-3.2.1.min.js"></script>
	<script src="login.js"></script>
</body>
</html>
