
<form action="" method="post" name="coderForm">
	<input type="text" name="title" label="标题" /> <input type="text"
		name="modelName" label="模块" /> <input name="modelNameCn" label="模块中文" /> <input
		name="functionName" label="功能" />
</form>

<div component="$UI/system/components/justep/toolBar/toolBar"
	class="x-toolbar form-inline x-toolbar-spliter" xid="toolBar1"
	style="text-align: center;">
	<a component="$UI/system/components/justep/button/button"
		class="btn btn-default" label="生成" xid="button1"
		icon="linear linear-highlight" onClick="button1Click"> <i xid="i1"
		class="linear linear-highlight" /> <span xid="span1">生成</span>
	</a>
</div>
<div component="$UI/system/components/justep/grid/grid"
	hiddenCaptionbar="true" altRows="true"
	class="x-grid-no-bordered x-grid-title-center" xid="coderColumnGrid"
	data="columnsData" useFilterBar="false" showRowNumber="true"
	height="auto" width="100%" rowNumberWidth="20" directEdit="false">
	<columns xid="columns4"> <column name="columnName"
		xid="column70" /> <column name="columnComment" xid="column71" /> <column
		name="columnType" xid="column72" width="150" /> <column
		name="columnSize" xid="column73" width="100" /> <column
		name="defaultValue" xid="column75" editable="true" editor="component"
		sortable="false" width="150"> <editor xid="editor14">
	<input bind-ref="ref('defaultValue')" class="form-control"
		component="$UI/system/components/justep/input/input" xid="input7" />
	</editor> </column> <column name="requiredFlag" editable="true" editor="checkbox"
		xid="column76" sortable="false" align="center" width="60" /> <column
		name="primaryKeyFlag" editable="true" editor="checkbox" xid="column77"
		width="60" sortable="false" align="center" /> <column
		name="searchFlag" editable="true" editor="checkbox" xid="column78"
		sortable="false" align="center" width="100" /> <column
		name="listFlag" editable="true" editor="checkbox" xid="column80"
		sortable="false" align="center" width="100" /> <column
		name="modifyFlag" editable="true" editor="checkbox" xid="column81"
		sortable="false" align="center" width="100" /> <column name="addFlag"
		editable="true" editor="checkbox" xid="column82" sortable="false"
		align="center" width="100" /> <column name="dictCode" editable="true"
		editor="component" xid="column83" sortable="false" width="150">
	<editor xid="editor15"> <input bind-ref="ref('dictCode')"
		class="form-control text-primary x-edit"
		component="$UI/system/components/justep/input/input" xid="input8" />
	</editor> </column> </columns>
</div>
</div>
