<form id="orgForm" method="post" action="javascript:Model.save();">
	<input type="text" name="orgId"    readOnly="true"  placeholder="generateOnSave"/>
	<input type="text" name="orgCode" required="true"  />
	<input type="text" name="orgName" required="true"  />
	<input type="text" name="orgBrief"   />
	<input type="text" name="parentOrgCode"   />
	<input type="text" name="orgCategory"   />
	<input type="text" name="orgLevel"   />
	<input type="text" name="orgGrade"   />
	<input type="text" name="pathName"   />
	<input type="text" name="status"   />
	<input type="text" name="country"   />
	<input type="text" name="email"   />
	<input type="text" name="officeAddr"   />
	<input type="text" name="post"   />
	<input type="text" name="tel"   />
	<input type="text" name="contact"   />
	<input type="text" name="orgFiNo"   />
	<input type="text" name="orgPayNo"   />
	<input type="text" name="orgCreditNo"   />
	<input type="text" name="orgPermitNo"   />
	<input type="text" name="orgRegNo"   />
	<input type="text" name="orgIdNumber"   />
	<input type="text" name="orgTaxNo"   />
	<input type="text" name="orgCreateDate"   />
	<input type="text" name="orgStartDate"   />
	<input type="text" name="orgEndDate"   />
	<input type="text" name="orgHeader"   />
	<input type="text" name="nodeNo"   />
	<input type="text" name="higherMngOrg"   />
	<input type="text" name="isLeaf"   />
	<input type="text" name="busiStatus"   />
	<input type="text" name="areaCode"   />
	<input type="text" name="orders"   />
	<input type="text" name="ownLine"   />
	<input type="text" name="verNo"   />
	<input type="text" name="applyStatus"   />
	<input type="text" name="operType"   />
	<input type="text" name="operRelaId"   />
	<input type="text" name="applyEmpNo"   />
	<input type="text" name="applyDate"   />
	<input type="text" name="applyReason"   />
	<input type="text" name="processInstanceId"   />
	<input type="text" name="remark"   />
	<input type="text" name="crtUserCode"   />
	<input type="text" name="crtOrgCode"   />
	<input type="text" name="crtDate"   />
	<input type="text" name="updUserCode"   />
	<input type="text" name="updOrgCode"   />
	<input type="text" name="updDate"   />
<div type="buttonGroup" style="text-align:center;" columns=12>
	<button type="submit"></button>
	<button type="return"></button>
</div>
</form>