<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>CsrfFilter</filter-name>
  	<display-name>CsrfFilter</display-name>
  	<description></description>
  	<filter-class>com.sshs.security.filter.CsrfFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CsrfFilter</filter-name>
  	<url-pattern>/CsrfFilter</url-pattern>
  </filter-mapping>
</web-app>
